[submodule "themes/hugo-theme-tempo"]
	path = themes/hugo-theme-tempo
	url = https@github.com:status26/hugo-theme-tempo.git
[submodule "themes/rise"]
	path = themes/rise
	url = https://github.com/status26/rise.git
