<div class="footer-col col-md-3 col-sm-4 col-md-offset-1 links">
    <div class="footer-col-inner">
        <h3 class="title">Services</h3>
        <ul class="list-unstyled">
            <li><a href="/services/"><i class="fa fa-caret-right"></i>Domains</a></li>
            <li><a href="/services/"><i class="fa fa-caret-right"></i>Hosting</a></li>
            <li><a href="/services/"><i class="fa fa-caret-right"></i>Websites</a></li>
            <li><a href="/services/"><i class="fa fa-caret-right"></i>SEO</a></li>
            <li><a href="/services/"><i class="fa fa-caret-right"></i>Local Search</a></li>
            <li><a href="/services/"><i class="fa fa-caret-right"></i>Pay Per Click</a></li>
        </ul>
    </div><!--//footer-col-inner-->
</div><!--//foooter-col-->
