<div class="item row">
    <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
        <h3 class="title">{{ .Title }}</h3>
        <div class="details">
            {{ .Summary }}
        </div>
    </div><!--//content-->
    <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
        <img class="img-responsive" src="{{ .Site.BaseURL }}images/process/{{ .Params.img }}" alt="{{ .Params.imgalt }}" />
    </div><!--//figure-->
</div><!--//item-->
