<nav id="main-nav" class="main-nav navbar-right" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
    </div><!--//navbar-header-->
    <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active nav-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li class="nav-item"><a href="{{ .Site.BaseURL }}about/">About</a></li>
            <li class="nav-item"><a href="{{ .Site.BaseURL }}services/">Services</a></li>
            <li class="nav-item"><a href="{{ .Site.BaseURL }}process/">Process</a></li>
            <li class="nav-item"><a href="{{ .Site.BaseURL }}blog/">Blog</a></li>
            <li class="nav-item"><a href="{{ .Site.BaseURL }}contact/">Contact</a></li>
            <li class="nav-item nav-item-cta last"><button type="button" class="btn btn-cta btn-cta-primary" data-toggle="modal" data-target="#signup-modal" >Get Started</button></li>
        </ul><!--//nav-->
    </div><!--//navabr-collapse-->
</nav><!--//main-nav-->
