<div class="footer-col col-md-3 col-sm-12 contact">
    <div class="footer-col-inner">
        <h3 class="title">Get in touch</h3>
        <div class="row">
            <p class="tel col-md-12 col-sm-4"><i class="fa fa-map-marker"></i><strong>Rise Local</strong><br>
              225 W. Hickory St. #100<br>
              Denton, TX 76201<br>
              USA<br>
            </p>
            <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>(817) 483-4026</p>
            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">support@riselocal.com</a></p>
        </div>
    </div><!--//footer-col-inner-->
</div><!--//foooter-col-->
