<!-- ******FEATURES****** -->
<section id="features" class="features section">
  <div class="container">
    <div class="item row">
        <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
            <h3 class="title">Our Story</h3>
            <div class="details">
              <p>The Rise Local story began in 2009 when, Mike Stewart and John O'Grady decided to do something never heard of at a local media company - tell customers the truth.</p>
              <p>As you can imagine, "The Man" didn't really appreciate the guys sticking it to him.</p>
              <p>Everyone responds to changing times in there own way. Mike started a highly respected digital media company that developed a reputation for delivering great business results. John ran off to Thailand to build stuff.</p>
              <p>By 2013 John ran out of money and gave Mike a call. The two agreed to meet in Kansas City at a tech incubator called Home for Hackers to exchange ideas on ways to help local service businesses and professional service organizations eliminate wasteful ad spending and generate more phone calls and leads off their websites.</p>
              <p>Over the course of a cold winter weekend it became apparent to Mike and John that between them they had the core components needed to deliver high-end IT Services, Website Support, and Marketing Services efficiently, effectively, and at low cost.</p>
              <p>After their summit in Kansas John moved to Dallas, Texas to finish out the platform. Status26 Inc., the company that owns the Rise Local brand, officially launched on January 1, 2015.</p>
            </div>
        </div><!--//content-->
        <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
            <img class="img-responsive" src="/images/about/our-story.png" alt="rise local story" />
        </div><!--//figure-->
    </div><!--//item-->
  </div><!--//container-->
</section>
<section id="features" class="features section">
  <div class="container">
    <div class="item row">
        <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
            <h3 class="title">Our Purpose</h3>
            <div class="details">
              <p>For years local media companies, marketing agencies, and technology service providers have been abusing small business owners with high prices, aggressive sales tactics, lousy support, and terrible business results. This has left business owners questioning what they need and who they can trust.</p>
              <p>To solve this problem we build a platform that replaces your domain registrar, host provider, web designer and marketing company with one relationship where everyone works together to grow your business.</p>
              <p>Consolidating the services you are already paying not only saves you time and money, but it also increases accountability which is essential to improving your business results. That is the Rise Local difference.</p>
              <p>So go ahead. Fire your webmaster and marketing “guru”. We got you covered.</p>
            </div>
        </div><!--//content-->
        <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
            <img class="img-responsive" src="/images/about/our-story.png" alt="rise local story" />
        </div><!--//figure-->
    </div><!--//item-->
  </div><!--//container-->
</section>
