<!-- ******PRESS****** -->
<div class="press">
    <div class="container text-center">
        <div class="row">
            <ul class="list-unstyled">
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#"><img class="img-responsive" src="{{ .Site.BaseURL }}images/press/pubcon-logo-black.png" alt="Pubcon digital marketing conference"></a>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="#"><img class="img-responsive" src="{{ .Site.BaseURL }}images/press/sempo-logo-black.png" alt="SEMPO search and digital marketing industry trade organization"></a>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6 xs-break">
                    <a href="http://www.bbb.org/dallas/business-reviews/internet-web-hosting/status26-in-denton-tx-90397672"><img class="img-responsive" src="{{ .Site.BaseURL }}images/press/bbb-logo-black.png" alt="Dallas and North Texas Better Business Bureau"></a>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6 sm-break">
                    <a href="#"><img class="img-responsive" src="{{ .Site.BaseURL }}images/press/state-of-search-logo-black.png" alt="Dallas, Texas State of Search conference"></a>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6 xs-break">
                    <a href="#"><img class="img-responsive" src="{{ .Site.BaseURL }}images/press/social-media-dallas-logo-black.png" alt="Social Media Dallas, Texas"></a>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <a href="https://www.dfwsem.org/board-members/mike-stewart/"><img class="img-responsive" src="{{ .Site.BaseURL }}images/press/dfwsem-logo-black.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
