<!-- #region Jssor Slider Begin -->
<!-- Generator: Jssor Slider Maker -->
<!-- This code works with jquery library. -->
<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/jssor.slider-21.1.6.mini.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var jssor_1_SlideoTransitions = [
          [{b:-1,d:1,i:10},{b:0,d:2000,i:-10}],
          [{b:-1,d:1,i:10,sX:29,sY:29},{b:0,d:100,x:-302,y:49,sX:-29,sY:-29},{b:1800,d:200,o:-1}],
          [{b:-1,d:1,i:1},{b:0,d:3000,i:-1}],
          [{b:-1,d:1,o:-2},{b:0,d:1000,o:2,i:10},{b:1000,d:1000,o:-1}],
          [{b:-1,d:1,o:-1},{b:0,d:1600,o:0.8,i:10},{b:1600,d:400,x:-100,o:0.2},{b:2000,d:1000,o:-1,r:-50,rX:3,sX:2,sY:2}],
          [{b:0,d:3000,i:1},{b:3000,d:2200,i:2}],
          [{b:0,d:3000,i:50},{b:3000,d:500,y:-113}],
          [{b:3000,d:500,i:1},{b:3500,d:400,i:-1}],
          [{b:3000,d:900,i:5},{b:3900,d:400,i:-5}],
          [{b:3000,d:1300,i:6},{b:4300,d:400,i:-6}],
          [{b:3000,d:1700,i:7},{b:4700,d:300,i:-7}]
        ];

        var jssor_1_options = {
          $AutoPlay: true,
          $Idle: 0,
          $SlideDuration: 1,
          $FillMode: 1,
          $CaptionSliderOptions: {
            $Class: $JssorCaptionSlideo$,
            $Transitions: jssor_1_SlideoTransitions
          }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        /*responsive code begin*/
        /*you can remove responsive code if you don't want the slider scales while window resizing*/
        function ScaleSlider() {
            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                jssor_1_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        /*responsive code end*/
    });

</script>
<style></style>
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1600px; height: 620px; overflow: hidden; visibility: hidden;">
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1600px; height: 620px; overflow: hidden;">
        <div data-p="277.50" style="display: none;">
            <div data-u="caption" data-t="0" style="position: absolute; top: 0px; left: 0px; width: 1600px; height: 620px; background-color: #78b9e7;"></div>
            <div data-u="caption" data-t="1" style="position: absolute; top: 117px; left: 568px; width: 500px; height: 80px; font-family: PT Sans; font-size: 64px; color: #ffffff; line-height: 80px; text-align: left;">Fast Hosting</div>
            <div data-u="caption" data-t="2" style="position: absolute; top: 0px; left: 0px; width: 1600px; height: 620px; background-color: #76c043;"></div>
            <div data-u="caption" data-t="3" style="position: absolute; top: 266px; left: 244px; width: 64px; height: 64px; font-size: 64px; color: #ffffff; line-height: 64px; text-align: center;">+</div>
            <div data-u="caption" data-t="4" data-3d="1" style="position: absolute; top: 266px; left: 340px; width: 800px; height: 80px; font-family: PT Sans; font-size: 64px; color: #ffffff; line-height: 80px; text-align: left;">The Perfect Website</div>
            <div data-u="caption" data-t="5" style="position: absolute; top: 0px; left: 0px; width: 1600px; height: 620px; background-color: #fcbb2f;"></div>
            <div data-u="caption" data-t="6" style="position: absolute; top: 226px; left: 840px; width: 500px; height: 128px; font-family: PT Sans; font-size: 128px; color: #ffffff; line-height: 128px; text-align: left;">More</div>
            <div data-u="caption" data-t="7" style="position: absolute; top: 226px; left: 840px; width: 100px; height: 128px; font-size: 128px; color: #ffffff; line-height: 128px; text-align: center;">Calls</div>
            <div data-u="caption" data-t="8" style="position: absolute; top: 226px; left: 840px; width: 100px; height: 128px; font-family: PT Sans; font-size: 128px; color: #ffffff; line-height: 128px; text-align: left;">Leads</div>
            <div data-u="caption" data-t="9" style="position: absolute; top: 226px; left: 840px; width: 100px; height: 128px; font-family: PT Sans; font-size: 128px; color: #ffffff; line-height: 128px; text-align: left;">Appointments</div>
            <div data-u="caption" data-t="10" style="position: absolute; top: 226px; left: 840px; width: 100px; height: 128px; font-family: PT Sans; font-size: 128px; color: #ffffff; line-height: 128px; text-align: left;">Visits</div>
        </div>
    </div>
</div>
<!-- #endregion Jssor Slider End -->
