{{ define "custom-head" }}
<link id="theme-style" rel="stylesheet" href="{{ .Site.BaseURL }}css/gallery.css">
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.mixitup.min.js"></script>

<script type="text/javascript">
$(function () {

	var filter = "{{ range $name, $taxonomy := .Site.Taxonomies.services }}.{{$name}}, {{ end}}";
	filter = filter.slice(0, -2);

	var filterList = {

		init: function () {

			// MixItUp plugin
			// http://mixitup.io
			$('#portfoliolist').mixItUp({
				selectors: {
					target: '.portfolio',
					filter: '.filter'
				},
				load: {
					filter: filter
				}
			});

		}

	};

	// Run the show!
	filterList.init();


});
</script>

{{ end }}

{{ define "main" }}

	<div class="container">

		<ul id="filters" class="clearfix">
		<li><span id="show-all" class="filter active" data-filter="old">All</span></li>
		{{ range $name, $taxonomy := .Site.Taxonomies.services }}
    <li><span class="filter" data-filter=".{{ $name }}">{{ humanize $name }}</span></li>
		{{ end }}
	</ul>

	<script type="text/javascript">

	var filter = "{{ range $name, $taxonomy := .Site.Taxonomies.services }}.{{$name}}, {{ end}}";
	filter = filter.slice(0, -2);

	document.getElementById('show-all').setAttribute('data-filter', filter );

	</script>

		<div id="portfoliolist">
			    {{ range .Data.Pages }}
					{{ .Render "summary" }}
					{{ end }}
		</div>

	</div><!-- container -->

{{ end }}
